---
import Layout from '../../layouts/Layout.astro';
import { tires } from '../../ts/brands';

type Disk = {
    id: number;
    images: string[];
    brandName: string;
    modelName: string;
    configs: {
        width: string;
        diameter: string;
        price: number;
    }[];

    nameSuffix: string | null;
    thumbnail: string;
    priceToShow: number;
};

export async function getStaticPaths() {
    const allBrands = [...new Set(tires.map((disk: Disk) => disk.brandName))];
    // console.log(allBrands);
    return allBrands.map((brand: string) => {
        return [
            {
                params: { id: brand.toLowerCase() },
            },
        ];
    });
}

const { id } = Astro.params;
---

<Layout title={`${id?.charAt(0).toUpperCase()}${id?.slice(1)}`}>
    <main>
        <!-- <p>{title}</p> -->
        <p>{id}</p>
    </main>
</Layout>
