---
import Layout from '../../layouts/Layout.astro';
import { tires } from '../../ts/brands';

type Tire = {
    id: number;
    images: string[];
    brandName: string;
    modelName: string;
    configs: {
        width: string;
        diameter: string;
        price: number;
    }[];

    nameSuffix: string | null;
    thumbnail: string;
    priceToShow: number;
};

const allBrands = [
    ...new Set(
        tires.map((tire: Tire) => {
            return tire.brandName;
        })
    ),
];

allBrands.forEach((e: any) => {
    console.log(e);
});

// const { id } = Astro.params;
---

<Layout title='Tires'>
    <main>
        <!-- <p>{title}</p> -->
        <p>tires</p>
    </main>
</Layout>
