@import './variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    height: 100%;
}

body {
    min-width: 320px;
    height: 100%;
    width: 100%;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $base-color;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
