---
// component imports
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout title='Page Not Found'>
    <div
        class='container'
        style={{
            display: 'grid',
            placeItems: 'center',
            textAlign: 'center',
            gap: '20px',
        }}
    >
        <p>About page.</p>
        <a href='/'>Go home.</a>
    </div>
</MainLayout>
