---
import Layout from '~layouts/Layout.astro';
import Header from '~components/header/header.svelte';
import Intro from '~components/intro/intro.svelte';
import Second from '~components/second/second.svelte';
import Third from '~components/third/third.svelte';
import Board from '~components/board/board.svelte';
import Footer from '~components/footer/footer.svelte';
---

<Layout title='Ukrdisk | Диски на авто.'>
    <main>
        <Header client:load />
        <Intro client:load />
        <Second client:load />
        <Third client:load />
        <Board client:load />
        <Footer client:load />
    </main>
</Layout>

<style lang='scss'>
    main {
        margin: auto;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
    }
</style>
